<h1>Hola estas en la pagina 1</h1>
<br>
<!-- {{hola}} -->

<!-- {{c1}}
<br>
{{c2}}
<br>
{{c3}}
<br> -->
<!-- {{contactos_juan}}

<ol>
    {%for c in contactos_juan%} 
    <li>{{c}}</li>
    {%endfor%}
</ol> -->

{{amigo}} <br>

<br>
{{t}}

{{c3}}