@import url(//fonts.googleapis.com/css?family=Muli);
body{
    margin: 10px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Muli', sans-serif;
    font-weight: normal;
}

.header{
    color: white;
    background-color: yellowgreen;
    height: 60px;
    padding: 10px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: thistle;
}

li a {
    display: block;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: dimgrey;
    color: white;
}

.contenedor{
    background-color: gray;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    height: 200px;
    margin-bottom: 20px;
    font-size: 1.5em;

}