{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <div class="header">
            <h2>Dictionaries</h2>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <br> <br>
        <br><br>

        <div class="contenedor">
            <p>{{j1}}</p>
        </div>

        <div class="contenedor">
            <p>{{j2}}</p>
        </div>

        <div class="contenedor">
            <p>{{j3}}</p>
        </div>

        <div class="contenedor">
            <p>{{j4}}</p>
        </div>

        <div class="contenedor">
            <p>{{j5}}</p>
        </div>

        <div class="contenedor">
            <ol>
                {% for k, v in jugadores.items %}
                    <li>{{k}} : {{v}}</li>
                {% endfor %}
            </ol>
        </div>

        <div class="contenedor">
            <ol>
                {% for v in jugadores.values %}
                    <li>{{v.4}} juega en {{v.0}}</li>
                {% endfor %}
            </ol>
        </div>
        <div class="contenedor">
            <p>{{o.valor}}</p>
        </div>
    </body>
</html>