{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <div class="header">
            <h2>Lists</h2>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <br><br>
        <br><br>

        <div class="contenedor">
            <p>{{l1}}</p>
        </div>

        <div class="contenedor">
            <p>{{l2}}</p>
        </div>

        <div class="contenedor">
            <p> a: {{c1}} 12: {{c2}}</p>
        </div>
        <div class="contenedor">
            <p> {{p}}</p>
        </div>
        <div class="contenedor">
            <p> {{r}}</p>
        </div>
    </body>
</html>