{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    </head>
    <body>
        <div class="header">
            <h2>Sets</h2>
        </div>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
        </ul>
        <br><br>
        <div class="contenedor">
            <p>{{a}}</p>
        </div>
        <div class="contenedor">
            <p>{{b}}</p>
        </div>
        
        <div class="contenedor">
            <p>{{alphabetical}}</p>
        </div>

        <div class="contenedor">
            {% for z in a %} 
                {{z}} hace buena musica
            {% endfor %}
        </div>

        <div class="contenedor">
            {{operacion}}
        </div>
    </body>
</html>